@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,400;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --logo-font: 30px;
    --navlinks-font: 25px;
    --h1-font: 50px;
    --h4-font: 20px;
    --p-font: 18px;
    --button-padding: 15px 30px;
    --border-radius: 20px;
    --button-bg-color: #ffffff;
    --button-text-color: #000000;
    --ul-color: #323268c4;
}
html{
    scroll-padding-top: 150px;
    overflow-x: hidden;
}



/* HEADER START */

header{
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav-container{
    height: 150px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    border-bottom: 2px solid black;
}
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    position: relative;
    left: 20px;
    top: 30px;
    background-color: lightcoral;
    cursor: pointer;
    
}

.btn1{
    position: relative;
    left: 50px;
    top: 30px;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    border: none;
    font-size: var(--p-font);
    cursor: pointer;
}
.img1{
    position: relative;
    left: 130px;
    top: 40px;
}
.tog{
    height: 70px;
    width: 25%;
    position: relative;
    right: 100px;  
    
}
#check{
    display: none;
}

.checkbtn{
    display: block;
    cursor: pointer;
}
ul{
    position: fixed;
    width: 20%;
    height: 84%;
    background-color: var(--ul-color);
    top: 150px;
    right: -100%;
    text-align: center;
    font-size: var(--h4-font);
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navlinks a{
    position: relative;
    top: 100px;
    color: yellow;
}
.navlinks ul li{
    display: block;
    line-height: 50px;
    
    
}
#check:checked ~ ul{
    right: 0;
}
.navlinks a:hover{
    color: white;
    border-bottom: 2px solid blue;
}

/* HEADER END */

/* HOME START */
.HOME-CONTAINER{
    height: 60rem;
    background-image: url(images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}
.ludo{
    height: 80%;
    width: 90%;
    display: flex;
    position: relative;
    top: 170px;
    left: 5%;
    border: 5px solid black;   
}
.left1{
    height: 50%;
    width: 50%;
    position: relative;
    top: 130px;
    left: 30px;
    border: 2px solid black;
}
.left1 h1{
    position: relative;
    top: 10%;
    left: 30px;
    color: #ffffff;
    font-size: var(--h1-font);
}
.left1 p{
    width: 80%;
    position: relative;
    top: 15%;
    left: 30px;
    justify-content: center;
    font-size: var(--h4-font);
    color: #ffffff;
}
.btn2{
    position: relative;
    top: 25%;
    left: 30px;
    font-size: var(--p-font);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
}
.right1{
    height: 90%;
    width: 35%;
    position: relative;
    top: 30px;
    left: 100px;
    border: 2px solid black;
}
.right1 img{
    height: 100%;
    width: 100%;
}
/* HOME END */

/* SERVICES START  */

.SERVICES-CONTAINER{
    height: 42rem;
    position: relative;
    top: 50px;
    background-color: cornflowerblue;
}
.top1{
    height: 120px;
    text-align: center;
    border: 4px solid burlywood;
}
.top1 h1{
    font-size: var(--h1-font);
}
.top1 p{
    font-size: var(--h4-font);
}
.sub1{
    height: 79%;
    width: 92%;
    position: relative;
    top: 10px;
    left: 4%;
    display: flex;
    padding: 10px 15px;
    border: 3px solid black;
}
.card1{
    height: 95%;
    width: 35%;
    position: relative;
    top: 10px;
    margin-left: 5px;
    border: 3px solid black;
}
.pic1{
    height: 60%;
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 10%;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #99146e;
}
.head1{
    height: 50px;
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    left: 10%;
    border: 2px solid black;
}
.head2{
    height: 100px;
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: var(--h4-font);
    top: 35px;
    left: 5%;
    border: 2px solid black;
}
/* SERVICES END */

/* ABOUT START  */
.ABOUT-CONTAINER{
    height: 35rem;
    background-color: blue;
}
.sub2{
    height: 90%;
    width: 90%;
    position: relative;
    top: 10%;
    left: 5%;
    display: flex;
    border: 2px solid black;
}
.card2{
    height: 80%;
    width: 40%;
    position: relative;
    top: 50px;
    left: 20px;
    margin-left: 70px;
    border: 2px solid black;
}
.card2 h1{
    position: relative;
    top: 15px;
    left: 10px;
    font-size: var(--h1-font);
    color: #ffffff;
}
.card2 p{
    width: 95%;
    position: relative;
    top: 15px;
    left: 10px;
    font-size: var(--h4-font);
    color: #ffffff;
}
.btn3{
    position: relative;
    top: 5%;
    left: 10px;
    font-size: var(--p-font);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
}
.card2 img{
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

/* ABOUT END */

/* SHOP START  */
.SHOP-CONTAINER{
    height: 54rem;
    background-color: lightcoral;
}
.top2{
    height: 120px;
    text-align: center;
    border: 2px solid black;
}
.top2 h1{
    font-size: var(--h1-font);
}
.top2 p{
    font-size: var(--h4-font);
}
.sub3{
    height: 40%;
    width: 80%;
    position: relative;
    top: 3%;
    left: 10%;
    display: flex;
    border: 2px solid black;
}
.card3{
    height: 90%;
    width: 30%;
    position: relative;
    top: 5%;
    left: 15px;
    margin-left: 20px;
    border-radius: 50%;
    border: 2px solid black;
}
.card3 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.card3:hover{
    background-color: #ffffff;
    padding: 5px;
    opacity: 0.3;
}
.card3:hover .bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 170px;
    font-weight: bolder;
    color: yellow;  
}
.card3 .bar{
    display: none;
}
.sub4{
    height: 40%;
    width: 80%;
    position: relative;
    top: 5%;
    left: 10%;
    display: flex;
    border: 2px solid black;
}


/* SHOP END */


/* CLIENT START */
.CLIENT-CONTAINER{
    height: 35rem;
    background-image: url(images/banner.jpg);
}
.top2 h5{
    font-size: var(--h4-font);
}
.card4{
    height: 60px;
    width: 100px;
    position: relative;
    left: 50%;
    
}
.card4 img{
    height: 100%;
    width: 100%;
    position: relative;
    top: 2px;
}
.slide{
    height: 280px;
    width: 80%;
    background-color: white;
    margin-left: 10%;
    overflow: hidden;
    border-radius: 50px;
}
.card6{
    height: 30px;
    width: 60px;
    position: relative;
    left: 4%;
    top: 10px;
    border: 2px solid black;
}
.card6 img{
    height: 100%;
    width: 100%;
    position: relative;
    top: 2px;
}
.card7{
    height: 170px;
    width: 77.5%;
    position: relative;
    top: 25px;
    left: 110px;
    border: 2px solid black;
}
.card7 p{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 25px;
}
.card8{
    height: 30px;
    width: 60px;
    position: relative;
    left: 88%;
    top: 30px;
    border: 2px solid black;
}
.card8 img{
    height: 100%;
    width: 100%;
    position: relative;
    top: 2px;
}

.caro{
    height: 100%;
    width: 100%;
    float: left;
}
.slider{
    display: inline-flex;
    position: relative;
    height: 100%;
    width: 310%;
    left: 0;
    animation: 10s caro infinite;
    transition: 1ms;
    z-index: 1;
}
@keyframes caro{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    30%{
        left: -102%;
    }
    50%{
        left: -102%;
    }
    60%{
        left: -206%;
    }
    80%{
        left: -206%;
    }

}
.slider input{
    display: none;
}
.navigation-manual{
    position: absolute;
    width: 320px;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    z-index: 1;
}
.manual-btn{
    border: 3px solid rgb(8, 233, 19);
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 50px;
    transition: 1s;
}
.manual-btn:hover{
    background-color: rgb(0, 0, 0);
}
#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -0%;
}
#radio3:checked ~ .first{
    margin-left: -2%;
}

.navigate-auto{ 
    position: absolute;
    
    width: 320px;
    justify-content: center;
    margin-top: 200px;
    margin-left: 50px;
    display: flex;
}
/* .navigate-auto div{
    border: 3px solid rgb(69, 230, 6);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    margin-left: 10px;
} */
#radio1:checked ~ .navigate-auto .auto-btn1{
    background-color: black;
}
#radio2:checked ~ .navigate-auto .auto-btn2{
    background-color: black;
}
#radio3:checked ~ .navigate-auto .auto-btn3{
    background-color: black;
}




/* CLIENT END */


/* CONTACT START */
.CONTACT-CONTAINER{
    height: 42rem;
    background-color: lightpink;
}
.top3{
    height: 150px;
    border: 2px solid black;
}
.top3 h1{
    position: relative;
    left: 70px;
    font-size: var(--h1-font);
}
.top3 p{
    position: relative;
    left: 70px;
    width: 80%;
    font-size: var(--h4-font);
}
.table{
    height: 70%;
    width: 70%;
    position: relative;
    left: 15%;
    top: 30px;
    border: 2px solid black;
}
.tbl1{
    height: 70px;
    width: 80%;
    position: relative;
    top: 50px;
    left: 10%;
    padding: 1rem;
    border-radius: 10px;
    border: none;
}
.tbl2{
    height: 70px;
    width: 40%;
    position: relative;
    top: 70px;
    left: 10%;
    padding: 1rem;
    border-radius: 10px;
    border: none;
}
.tbl3{
    height: 70px;
    width: 80%;
    position: relative;
    top: 100px;
    left: 10%;
}
.btn4{
    position: relative;
    top: 130px;
    left: 43%;
    font-size: var(--p-font);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 20px 40px;
}
::placeholder{
    font-size: var(--h4-font);
}
textarea::placeholder{
    padding: 1rem;
    font-size: var(--h4-font);
}


/* CONTACT END */


/* FOOTER START */
.FOOTER-CONTAINER{
    height: 36rem;
    background-color: lawngreen;
}
.top4{
    height: 90%;
    border: 2px solid black;
}
.top4 img{
    height: 100%;
    width: 100%;
}
.fi1{
    height: 15%;
    width: 25%;
    position: relative;
    left: 6%;
    bottom: 75%;
    border: 2px solid black;
}
.fi1 img{
    height: 100%;
    width: 100%;
}
.fl0{
    height: 42%;
    width: 27%;
    position: relative;
    bottom: 70%;
    left: 6%;
    border: 2px solid black;
}
.fl0 .fl1{
    height: 25%;
    width: 100%;
    position: relative;
    border: 2px solid black;
}
.fl0 .fl1 h1{
    font-size: var(--h1-font);
    color: #ffffff;
}
.fl0 .fl2{
    height: 65%;
    width: 100%;
    position: relative;
    top: 5%;
    border: 2px solid black;
}
.fl0 .fl2 p{
    font-size: 25px;
    color: #ffffff;
    line-height: 3rem;
}
.fl-1{
    height: 42%;
    width: 27%;
    position: relative;
    bottom: 112%;
    left: 38%;
    border: 2px solid black;
}
.fl-1 .fl3{
    height: 25%;
    width: 100%;
    border: 2px solid black;
}
.fl-1 .fl3 h1{
    font-size: var(--h1-font);
    color: #ffffff;
}
.fl-1 .fl4{
    height: 65%;
    width: 100%;
    position: relative;
    top: 5%;
    border: 2px solid black;
}
.fl-1 .fl4 p{
    font-size: 25px;
    color: #ffffff;
    line-height: 3rem;
}
.fl-2{
    height: 42%;
    width: 27%;
    position: relative;
    bottom: 154%;
    left: 70%;
    border: 2px solid black;
}
.fl-2 .fl5{
    height: 25%;
    width: 100%;
    border: 2px solid black;
}
.fl-2 .fl5 h1{
    font-size: var(--h1-font);
    color: #ffffff;
}
.fl-2 .fl6{
    height: 65%;
    width: 100%;
    position: relative;
    top: 5%;
    border: 2px solid black;
}
.fl-2 .fl6 .input{
    padding: 20px 40px;
}
.fl-2 .fl6 .btn5{
    padding: 20px 40px;
    position: relative;
    top: 10px;
    font-size: var(--h4-font);
    color: #ffffff;
    background-color: #ff0000;
    border: none;
}
.fl-2 .fl6 .btn5:hover{
    cursor: pointer;
    background-color: #9a145b;
    transition: 1s;
}
.bot{
    text-align: center;
    position: relative;
    top: 3%;
    font-size: var(--h4-font);
}

/* FOOTER END */